:root{
    --bg-color:#bcb7ac;
    --font-color:#000;
    --sec-color:#e95d57;
    /* --spacing:0.25rem; */
    --font-system:"IBM Plex Mono", monospace;
    /* --font-primary:"Inter", system-ui, sans-serif; */
    --font-primary:"Inter", sans-serif;
    --scrollbar-thumb: #00000040;
    --scrollbar-thumb-hover: #0006;
    --scrollbar-track: #0000000d;
    --sec-background:rgba(0, 0, 0, 0.05);
}
html{
    scroll-behavior: smooth;
}
*{
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  margin: 0;
  position: sticky;
  top:0;
  border-bottom: 1px solid #999;
  color: var(--font-color);
  height: calc(var(--spacing) * 4);
  background: rgba(188, 183, 172,0.8);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 999;
}
nav{
    display: flex;
    gap: 10px;
}

.logo {
  font-weight: 600;
  font-size: 1.8rem;
  justify-content: space-between;
}

.btn{
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid black;
    font-size: 1rem;
    font-weight: 500;
    transition: all .2s;
    padding: 8px 25px;
    border-radius: 5px;
    background: none;
    font-family: var(--font-system);
    display: flex;
    align-items: center;
    justify-content: center;
}
.moon{
    padding: 0;
    margin: 0;
}
.orange-btn{
    background-color: var(--sec-color);
    border: none;
}

.section-1{
    position: relative;
    top: 5.5rem;
    margin-bottom: 11.5rem;
}
.container{
    width: 56rem;
    font-size: 16px;
    line-height: 1.5;
    color: var(--font-color);
    flex-direction: column;
    font-family: var(--font-primary);
}
.orange-container{
    background-color: rgba(233, 93, 87, 0.1);
    border: 0.5px solid rgba(233, 93, 87, 0.4);
    padding: 10px 15px;
    color: var(--sec-color);
    font-size: 0.8rem;
    border-radius: 5px;
    letter-spacing: 0.1rem;
    font-family: var(--font-system);
}

.heading{
    margin-top: 1.5rem;
    letter-spacing:0.02rem;
    font-size: 6vw;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    font-family: "Inter", sans-serif;
    margin-bottom: 1.7rem;
}

.text-box{
    color: rgba(0,0,0,0.7);
    text-align: center;
    display: inline-block;
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 2.9rem;
    max-width: 49rem;
    font-family: var(--font-primary);
}

.buttons{
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 64px;
}

.black-btn{
    background-color: var(--font-color);
    color:var(--bg-color);
}

.btn-container{
    font-family: var(--font-system);
    font-weight: 500;
    border-radius: 3px;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: calc(var(--spacing) * 4);
    width: 56rem;
    margin-bottom: 30px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--sec-background);
    width: 10rem;
    padding: 1.2rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: var(--font-primary);
    border-radius: 5px;
}
.paragraph{
    font-family: var(--font-system);
    color: rgba(0,0,0,0.5);
    margin: 0;
    font-size: 0.8rem;
}
.orange-text{
    color: var(--sec-color);
}
.box>.orange-text{    
    letter-spacing: 0.05rem;
}
.box-text{
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}
.section-2{
    background-color: var(--sec-background);
    padding: 7.5rem 1rem;
}
.section-2-top{
    color: rgba(0, 0, 0, 0.4);
    font-family: var(--font-system);
    letter-spacing: 0.08rem;
    font-size: 0.9rem;
}

.heading-sec-2{
    font-size: 2.9rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    margin: 0;
    margin-top: 0.8rem;
    font-family: var(--font-primary);
    margin-bottom: 1.5rem;
}
.text-box-sec-2{
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.5;
}
.box-container-2{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    width: 60rem;
    gap: 30px;
}

.sec-2-box-1{
    padding: 1.8rem;
    background-color: var(--sec-background);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 90%;
    letter-spacing: 0.05rem;
}

.orange-box{
    width: 8px;
    height: 8px;
    background-color: var(--sec-color);
}

.box-title{
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-system);
    letter-spacing: 0.1rem;
    color: rgba(0,0,0,0.5);
    font-size: 0.8rem;
}

.small-box-heading{
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--font-color);
    font-size: 1.8rem;
    font-weight: 600;
    font-family: var(--font-primary);
}
.box-text-sec-2{
    text-align: left;
    color: rgba(0,0,0,0.5);
    font-family: var(--font-system);
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0;
    display: inline-block;
    width: 100%;
    letter-spacing: 0.01rem;
    line-height: 1.5;
}

.sec-2-box-2{
    background-color: rgba(233, 93, 87, 0.05);
    border: 1px solid rgba(233, 93, 87, 0.2);
}

.section-3{
    padding: 8rem 2rem;
}

.box-container-3{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 25px;
    /* width: 60rem; */
    margin: 0;
    margin-top: 1.5rem;
}

.box-3{
    width: 18rem;
    padding: 2rem;
    align-items: flex-start;
}

.icon-container{
    width: 1.8rem;
    height: 1.8rem;
    padding: 5px;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.box-3-heading{
    margin: 0;
    margin-bottom: 1rem;
}

.section-4{
    padding: 8rem 2rem;
    background-color: rgba(233, 93, 87, 0.05);
    border: 1px solid rgba(233, 93, 87, 0.2);
}

.orange-container-2{
    border-color: var(--sec-color);
    font-weight: 900;
    font-family: var(--font-system);
    margin-bottom: 1.5rem;
}

.sec-4-box-1{
    padding: 32px;
    background-color: var(--bg-color);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.sec-4-unit-1{
    justify-content: flex-start;
    gap: 15px;
}

.sec-4-icon-box{
    width: 64px;
    height: 64px;
}

.sec-4-unit-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.bold-text{
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--font-primary);
    letter-spacing: 0.01rem;
    margin: 0;
}

.rupee{
    font-size: 2.8rem;
}

.sec-5-box-container{
    gap: 30px;
}

.sec-5-box{
    width: 90%;
    align-items: flex-start;
}

.unit{
    justify-content: flex-start;
    flex-direction: column;
    width: 25rem;
    margin: 1rem;
}
.details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    width: 100%;
}
.participation{
    flex-direction: column;
}
.college-name{
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--font-color);
    font-family: var(--font-system);
}

.numOfStud{
    font-size: 0.9rem;
    font-weight: 300;
    font-family: var(--font-system);
}

.bar{
    width: 100%;
    background-color: var(--sec-background);
    border-radius: 2px;
    height: 10px;
}
.orange-bar{
    height: 100%;
    background-color: var(--sec-color);
    border-radius: 2px;
}
